
.navbar-brand  {
    font-size: 2em ;
    font-family: ".SF NS", serif;
}
body {
    background-image: url("https://img.freepik.com/free-vector/gradient-futuristic-cyber-background_23-2149116407.jpg?w=1480&t=st=1665611800~exp=1665612400~hmac=71cbb5a12ef594b0e9bc5f090d945b563a6b64970ada9a38d48576db54e4ef5a");
    background-size: cover ;
    background-repeat: repeat;
    height: 100vh;
    width: 100vw;
    color: darkgrey ;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-height: 4vh;
}
.container , .text ,.projekty{
    padding-top: 5em;
}
.text h1 {
    color: goldenrod;   
    font-weight: bolder;
    font-size: 24px;
}
.text h2 {
    font-weight: bold;
    font-size: 18px;
    padding-left: 30px;
}
.text p {
    font-size: 14px;
    padding-left: 50px;
}
.nadpis {
    margin-top: 1em;
}
#navbarItems .nav-item:hover  {
    background-color: teal;
}
.kontakt_text {
    color: darkgrey;
    font-weight: bold;
}
.row{
    text-align: justify;
    padding:5em;
}
.adresa:hover {
    color: goldenrod;
    transform: scale(1.2);
    transform-origin: 50% 50%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
}
.udaje {

    text-align: start;
    font-family: "Al Bayan ", sans-serif;
}

h5{
    font-family: "Andale Mono", sans-serif;
    font-size: larger;
    font-weight: bolder;
    color: teal;
}
h1 ,h3{
    margin-left: 20px;
}
.te
.kontakt {
    font-weight: bold;
}
.project-col {
    width: 210px;
    height: 260px;
}

.card-img-top  {
    width: 185px;
    height: 145px;

}
.card-body p{
    font-size: small;
}
.card-body h2 {
    font-size: smaller;
}